---
//File name: publications.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import TheContent from "../components/TheContent.astro";
import SimpleItem from "../components/SimpleItem.astro";
import BackTopButton from "@/components/BackTopButton.astro";
---

<BaseLayout title="Publications" description="Surinvest Publications">
	<TheContent>
		<Card
			title="Publications"
			isAccordion={false}
			subtitle={"Insights to open minds"}
			showSubtitle={true}
			description="Please select a link below to view chronicles and download selected articles:">
			<ul>
				<li>
					<a href="#gobernance">Governance</a>
				</li>
				<li>
					<a href="#energy">Energy Transitions & Enviroment</a>
				</li>
				<li>
					<a href="#extractive-industries">Extractive Industries</a>
				</li>
				<li>
					<a href="#economic-policies">Economic Policies</a>
				</li>
				<li>
					<a href="#books">Books</a>
				</li>
			</ul>
		</Card>
		<Card
			id="gobernance"
			title="Governance "
			isAccordion={false}
			isContent={true}
			
			>
			<ul>
				<li>
					<a
						href="/Downloads_Publications/Global Journal MS 10 June 2021.pdf"
						target="_blank">
						Global Journal of Managment of Business Research (USA) May 2021:
						&ldquo;Recasting Governance for Challenging Times&rdquo;</a
					>
				</li>
			
				<li>
					<a
						href="/Downloads_Publications/El Mercurio  Valpo. Gobernanza & Corrupcion.PDF"
						target="_blank"
						>El Mercurio (Valpo.) Mar. 21, 2021: &ldquo;Gobernanza y corrupción,
						hechos y no palabras&rdquo;
					</a>
				</li>
			
				<li>
					<a
						href="Downloads_Publications/diario_Fin_Feb_11_2021.pdf"
						target="_blank"
						>Diario Financiero Feb 11, 2021: &quot;Corrupción, ¿en dónde
						estamos?&quot;</a
					>
				</li>
			
				<li>
					<a
						href="Downloads_Publications/1.pdf"
						target="_blank"
						>Instituto de Gobierno y Gestión Pública - Universidad de San Martin
						USMP (Lima, Perú) Dec. 2015 - &quot;Experiencias Internacionales
						para Fortalecer la Gobernabilidad (International Experiences for
						strengthening governance)&quot; ISSN 2414-4991
					</a>
				</li>
			
				<li>
					<a
						href="Downloads_Publications/transparency_int_madrid_abr_2015.pdf" 
						target="_blank"
						>Transparency International (Madrid, Spain), Apr. 2015 -
						&quot;Evolución del tema de anticorrupción y gobernancia&quot;</a
					>
					
				</li>

				<li>
					<a
						href="/Downloads_Publications/Georgetown University, Apr 2010 - reprinted from Universidad de Slamanca & Universidad Catolica, Jun 2009 _Experiencias internacionales para fortalecer la gobernabilidad_.pdf"
						target="_blank"
						>Georgetown University; Universia (U.S.) Globalización, Competividad
						y Gobernabilidad April 2010,&ldquo;Experiencias internacionales para
						fortalecer la gobernabilidad&rdquo;; Reprinted from <strong
							>Universidad de Salamanca (Spain) &amp; Universidad Católica
							(Chile)
						</strong>Jun. 2009</a
					>
					
				</li>
				<li>
					<a
						href="/Downloads_Publications/USAID Book Series 2007, Corruption Assessment - Mozambique.pdf"
						target="_blank"
						>USAID Book Series 2007 &ldquo;Corruption Assessment:
						Mozambique&rdquo; (co-authored with B. Spector and S. Green)
					</a>
				</li>
				<li>
					<a
						href="/Downloads_Publications/UAM_Dec2007,EEE.pdf"
						target="_blank"
						>Universidad Autónoma de Madrid (Madrid, Spain)  Revista de
						Investigación Multidisciplinar, Dec. 2007 &ldquo;Evidencias
						Estadísticas y Experiencias sobre Gobernabilidad y
						Desarrollo&rdquo;.</a
					>
					
				</li>
				<li>
					<a
						href="/Downloads_Publications/transparency_int_spain_sept_2007.pdf"
						target="_blank"
						>Transparency International (Madrid, Spain) Sep. 2007
						&ldquo;Gobernabilidad, Corrupción y Desarrollo: <em
							>Experiencias internacionales para transitar del dicho  al
							hecho&quot;</em
						></a
					>
					
				</li>
				<li>
					<a
						href="/Downloads_Publications/transparency_int_spain_sept_2007.pdf"
						target="_blank"
						>Development Gateway (Washington, DC, USA), 2005, &ldquo;Recasting
						Governance for the XXI Century&rdquo; (Reprinted in Shvil – <strong
							>Transparency International</strong
						> - Israel, Jan. 2006, and <strong
							>Asia-Pacific Economic Cooperation (APEC)</strong
						> Vietnam, Feb. 2006)</a
					>
					
				</li>
				<li>
					<a
						href="/Downloads_Publications/Oil_Apr_2004_Remarks.pdf"
						target="_blank"
						><strong>Oil, Gas &amp; Energy Law Intelligence </strong>(OGEL-U.K)
						Apr 2004 &ldquo;Remarks on the &lsquo;coming clean&rsquo;
						debate&rdquo;</a
					>
					
				</li>
				<li>
					<a
						href="/Downloads_Publications/Oil_Dec_2003_Combating.pdf"
						target="_blank"
						><strong>Oil, Gas &amp; Energy Law Intelligence</strong> (OGEL-U.K) Dec
						2003 &ldquo;Combating Corruption – Moving from Words to Deeds&rdquo;<br
						/>
					</a>
				</li>
				<li>
					<a
						href="/Downloads_Publications/1986.pdf"
						target="_blank"<strong>International Law and Practice</strong> (New York State Bar Association,
					USA) Oct. 2002 &ldquo;Governance and Transparency: The Missing Ingredients
					for Development&rdquo;.
					</a>
				</li>
				<li>
					<strong>World Bank Development Institute</strong> (Washington, D.C. &amp;
					Kinshasa, D.R.C.) Sep. 2002 &ldquo;Gouvernance el la Lutte contre la Corruption&rdquo;<br
					/>
					<a
						href='Downloads_Publications/Transparency International (Berlin) Sep 2001 Improving Public Sector Procurement in Latin America.pdf'
						>
					</a>
				</li>

				<li>
					<a
						href="Downloads_Publications/ICME.pdf"target="_blank"
						><strong>International Council on Metals and the Environment Newsletter</strong
					><u> </u>(U.K.), 1999 &ldquo;Combating Corruption – a Condition for
					Sustainable Development&rdquo;.</strong> </a>
					
				</li>
				<li>
					<strong>New Perspectives on Combating Corruption.</strong> (World Bank
					&amp; Transparency International; USA &amp; Germany), Aug. 1998 &ldquo;Combating
					Corruption for Development: The Role of Government, Business, and Civil
					Society&rdquo;
					
				</li>
				<li>
					<a
						href="Downloads_Publications/B_W_S_1995 _P_B_A_W.pdf"target="_blank"
						><strong>Bank&rsquo;s World</strong> (World Bank, USA), Sep. 1995 &ldquo;Planning
						and Budgeting Approaches: Why and What for?&rdquo;</a
					>
					
				</li>

				<li>
					<a
						href="/Downloads_Publications/Finance and Development (IMF and World Bank, USA) Dec. 1986 _Adjustment with growth, Colombia’s experience_English.pdf"
						target="_blank"
						>Finance and Development (IMF and World Bank, USA) December 1986
						“Adjustment with Growth, the Case of Colombia”. (Reprinted in
						Adjustment with Growth, IMF &amp; World Bank, Dec. 1987).</a
					>
					
				</li>
				<li>
					<a href="http://pdf.usaid.gov/pdf_docs/Pnadp270.pdf" target="_blank"
						>Anticorruption Assessment Handbook, Final Report - USAID, Feb 2009
					</a>
					
				</li>
				<li>
					<strong
						>Mitigating Risk of Private Investors in Energy Development</strong
					>
					
						<li>
							The Role of the World Bank (with James Bond &amp; Ted Gorton) July
							1992
						</li>
						<li>
							The Role of the International Finance Corporation (with Hugh
							Henry-May) July 1992
						</li>
						<li>
							The Role of the Multilateral Investment Guarantee Agency (with L.
							Hollywood) July 1992
							
						</li>
					
				</li>
				<li>
					<strong
						>Summary Petroleum Industry Data Sheets Sub-Saharan Africa
					</strong>(with AmitMor) September 1992
					
				</li>
				<li>
					<strong
						><a
							href="https://www.gpo.gov/fdsys/pkg/CHRG-106shrg68756/html/CHRG-106shrg68756.htm"
							target="_blank"
							>Committee on Foreign Relations, United States Senate: Public
							Hearing on Anti-Corruption Efforts and African Economic
							Development. M. Schloss Statement
						</a>
					</strong>
					
				</li>
				<li>
					<strong><a
					href="Downloads_Publications/Dalberg.pdf"
					target="_blank"
					>Report of the Task Force on Capacity for Program Delivery</strong
					> (A Clinton Global Initiative Commitment) – Ideas to Optimize Development
					Impact – 2006</a>
					
				</li>
				<li>
					<strong>Corruption: A Crime of Calculation, not of Passion (</strong
					>Development Gateway Iraq Interview) – May 2005
					
				</li>
				<li>
					<strong>Informativo MECSUP </strong>(Gov. of Chile) &ldquo;Entender
					las Causas de Corrupción&rdquo; – Sep. 2005
				
				</li><li><a
					href="https://csis-website-prod.s3.amazonaws.com/s3fs-public/event/010712_corruption_government_procurement_summary.pdf"
					>
					<strong>Corruption and International Business </strong>(Center for
					Strategic and International Studies series) – Jul. 2001
				</a>
				</li><li><a
					href="https://citeseerx.ist.psu.edu/document?repid=rep1&type=pdf&doi=803293b9b6ab97b1e4a3adefa044c472b4f91939"
					>
					<strong
						>Reforming Public Institutions and Strengthening Governance:
					</strong>A World Bank Strategy<strong> –</strong> Nov. 2000
				</a>
				</li>
			</ul></Card
		>
		<Card
			id="energy"
			title="Energy Transitions & Enviroment"
			isAccordion={true}
			isContent={true}>
			<div>
				<ul>
				
					<li>
						<a
							href="Downloads_Publications/2-Walking-on-a-Knifes.pdf"
							>Global Journal of Management and Business Research (USA) June. 2025: "
							Walking on a Knife’s Edge to Reconcile Energy & Environment</a
						>
					</li>
					<li>
						<a
							href="http://www.encuentros-multidisciplinares.org/revista-77/miguel-schloss.pdf"
							>Universidad Autónoma de Madrid - Revista Encuentros
							Multidisciplinates (Madrid, Spain) May-Aug. 2024: “La desafiada
							búsqueda de la descarbonización"</a
						>
					</li>
				
					<li>
						<a
							href="https://www.wbgalumni.org/chiles-experience-transitioning-from-an-energy-supply-crisis-to-major-investments-in-renewables/"
							>World Bank - 1818 Society (Washington, DC) Jan. 18, 2024:
							“Chile’s experience transitioning from an energy supply crisis to
							major investments s in renewables”</a
						>
					</li>
				
					<li>
						<a
							href="Downloads_News/ogel(2024).pdf"
							>Oil, Gas &amp; Energy Law Intelligence (OGEL-U.K.), Jan. 2024
							“Its Halftime in Energy Transition”</a
						>
					</li>
				
					<li>
						<a
							href="Downloads_News/ogel(2024)2.pdf"
							>Oil, Gas &amp; Energy Law Intelligence (OGEL-U.K.), Jun. 2024
							“The Challenging Quest for Decarbonization</a
						>
					</li>
				
					<li>
						<a href="Downloads_Publications/Oil, Gas & Energy Law Intelligence (OGEL-UK) Jan 2007. _Extractive Industry Transparency_.pdf"
							>Oil, Gas &amp; Energy Law Intelligence (OGEL-U.K.), Sep. 2023
							“Essay on Combating Believers and Deniers on Energy Transition”</a
						>
					</li>
				
					<li>
						<a
							href="Downloads_Publications/Global Journal of Science Frontier Research, Environment & Earth Science Oct. 2020 _Tackling Climate Change in a Changing World__.pdf"
							>Global Journal of Science Frontier Research - Environment and
							Earth Science (USA) Jun. 2024: “Chasing the Unknown - the Quest
							for Decarbonization”</a
						>.
					</li>
				
					<li>
						<a
							href="https://globaljournals.org/GJSFR_Volume23/2-Energy-Transition-in-Unsettled.pdf"
							>Global Journal of Science Frontier Research - Environment and
							Earth Science (USA) Jun. 2023: “Energy Transition in Unsettled
							Times”</a
						>
					</li>
				
					<li>
						<a
							href="https://globaljournals.org/GJSFR_Volume23/2-The-Elephant-in-the-Room.pdf"
							>Global Journal of Science Frontier Research - Environment and
							Earth Science (USA) (USA) Mar. 2023: “The Elephant in the Room;
							Preaching or Working on Climate Change"</a
						>
					</li>
					<li>
						<a
							href="https://www.df.cl/opinion/columnistas/descarbonizando-la-economia"
							>Diario Financiero (Chile) Feb. 16 2024: “Descarbonizando la
							economía?”</a
						>
					</li>
				
					<li>
						<a
							href="https://www.df.cl/opinion/columnistas/cambiando-la-conversacion-sobre-transicion-energetica"
							>Diario Financiero (Chile) Dec.26, 2022: “Cambiando la
							conversación sobre transición energética”</a
						>
					</li>
				
					<li>
						<a
							href="https://www.df.cl/opinion/cartas/cambio-climatico-hacia-un-enfoque-sostenido"
							>Diario Financiero (Chile) May 4, 2021: “Cambio climático; hacia
							un enfoque sostenido"</a
						>
					</li>

					<li>
						<a
							href="https://globaljournals.org/GJSFR_Volume24/2-Chasing-the-Unknown.pdf"
							target="new"
							><strong
								>Bretton Woods Committee features review by M. Schloss on energy
								transition issues</strong
							></a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/COP26_Mercurio_Valpo.pdf"
							target="_blank"
							>El Mercurio (Valpo.) Feb 6, 2022: &ldquo;COP 26, aterrizando
							sueños&rdquo;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/COP-26-Global Journals; The-Road-to-Where.pdf"
							target="_blank"
							>Global Journal of Management and Business Research (USA) Jan.
							2022: &quot;COP 26: The Road to Where?&quot;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/COP26 Diario Financiero Dic 6_21 .pdf"
							target="_blank"
							>Diario Financiero (Chile) Dec.6, 2021: &quot;COP26 : ¿el camino a
							donde?&quot;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/COP - Encuentros Multidisciplinarios Espana Dic 2021.pdf"
							target="_blank"
							>Universidad Autonoma de Madrid; Encuentros Multidisciplinares
							(Spain) Dec. 2021: &quot;COP 26: ¿hacia donde se va&quot;
						</a>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/2021.pdf"
							target="_blank"
							>El Mercurio (Valpo.) May 23, 2021: &quot;Cambio climático y
							transformación&quot;.</a
						>
					</li>
					<li>
						<a
							href="/Downloads_Publications/diario_Fin_Feb_11_2021.pdf"
							target="_blank"
							>Diario Financiero Feb 11, 2021: &quot;Corrupción, ¿en dónde
							estamos?&quot;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/Global Journal of Science Frontier Research, Environment & Earth Science Oct. 2020 _Tackling Climate Change in a Changing World_.pdf"
							target="_blank"
							>Global Journal of Science Frontier Research: Environment &amp;
							Earth Science Oct. 2020: &quot;Tackling Climate Change in a
							Changing World&quot;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/Global_April_2020.pdf"
							target="_blank"
							>Global Journal of Economics and Commerce (USA) April 2020&quot;Planning at the Dawn of the XXI Century: The Ambiguous Road to COP26-ISNN2249-4588&amp;0975-5853</a>
					</li>
				
					<li>
						<a href="https://www.ijrbsm.org/papers/v6-i12/5.pdf" target="_blank"
							>International Journal of Research in Business Studies and
							Management (Lewes Delaware, USA),Volume 6, Issue 12, 2019, PP
							38-42:&ldquo;The Ambiguous Road to COP25</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/EME222019.pdf"
							target="_blank"
							>El Mercurio (Valpo.) Sep. 22, 2019 &quot;Energía e impacto
							ambiental: el incierto camino a la COP 25&rdquo;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/UAMAug2019.pdf"
							target="_blank"
							>Universidad Autónoma de Madrid - Revista Encuentros
							Multidisciplinates (Madrid, Spain) Aug 2019: &ldquo;Cambio
							climático y energía: ¿quo vadis?&quot;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/UAMA.pdf"
							target="_blank"
							>El Mercurio (Santiago, Chile) Aug, 28, 2019 &ldquo;El ambiguo
							avance en la senda a la COP25&rdquo;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/DFPolíticaenergética en un mundo cambiante.pdf"
							target="_blank"
							>Diario Financiero (Chile) Feb 19, 2019: &ldquo;Política
							energética en un mundo cambiante&rdquo;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/EMVALPOMay 23, 2021.pdf"
							target="_blank">
							El Mercurio (Valp., Chile) Jan 2019: &ldquo;Cambio climático: tras
							tantas advertencias y desastres, ¿quo vadis?&quot;</a
						>
					</li>
				
					<li>
						
							Capital Business Journal (Santiago, Chile) Nov, 2017 -
							&quot;Transitando del dicho al hecho tras el acuerdo de
							París&quot;
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/IELR 201606 38-242-2-PB.pdf"
							target="_blank">
							International Energy Law Review, and Journal of Business (London,
							UK.) Jul. 2016 - &quot;Climate Change: Moving the Paris Agreement
							for Words to Deeds&quot;</a
						>
					</li>
					
						<li>
							<a
								href="/Downloads_Publications/CEIMarch15.pdf"
								target="_blank">
								Centro de Estudios Internacionales, Universidad Católica de
								Chile, Encuentros Multidisciplinares (Madrid, Spain) Apr. 2016 -
								¨El cambio climático: la problemática y acciones a tomar tras la
								Cumbre de Paris¨
							</a>
						</li>
					
				
					<li>
						<a
							href="/Downloads_Publications/REMar 2014.pdf"
							target="_blank">
							Revista Electricidad (Santiago, Chile) Mar. 2014 - Generación de
							energía y disminución de la huella del carbono - Cómo lograr la
							compatibilidad </a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/DFOct 2013.pdf"
							target="_blank">
							Diario Financiero (Santiago, Chile), Oct. 2013 - Energía y medio
							ambiente: ¿objetivos en conflicto?</a
						>
					</li>
					<li>
						<a
							href="/Downloads_Publications/UAM_Mar2013.pdf"
							target="_blank">
							Universidad Autónoma de Madrid Revista Encuentros
							Multidisciplinares (Madrid, Spain) Mar. 2013 "Allanando barreras
							entre fuentes de energía para el desarrollo "</a
						>
					</li>
					<li>
						<a
							href="/Downloads_Publications/Empresas & Poder Apr2013.pdf"
							target="_blank"
							>Empresas &amp; Poder (Santiago, Chile), Apr. 2013 &quot;Panorama
							energético. Necesidades Emergentes&quot;</a
						>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/Low Carbon.pdf"
							target="_blank"
							>Low Carbon Earth Summit, (Dalian China), Oct. 2011 and
							EnergiaNews, (Israel), Aug. 2012 "Leveling the Playing Field
							between Conventional and New Energy Resources"; reissued in
							www.energianews.com היגרנאה תושדח .22 (Israel, Aug. 2012)
						</a>
					</li>
					<li>
						<strong>International Law and Practice</strong> (New York State Bar Association,
						USA) Oct. 2002 &ldquo;Governance and Transparency: The Missing Ingredients
						for Development&rdquo;.
						
					</li>
					<li>
						<strong>World Resource Review International Journal </strong>(WRR,
						USA), Jun. 1993 &ldquo;Energy, The Environment and Sustainable
						Development: Lateral Departures&rdquo;.
						<a
							href="/Downloads_Publications/Finance and Development (IMF and World Bank, USA) Dec. 1986 Adjustment with growth, Colombia’s experience_English.pdf"
							>
						</a>
					</li>

					<li>
						<a href="http://pdf.usaid.gov/pdf_docs/Pnadp270.pdf" target="_blank"
							>Anticorruption Assessment Handbook, Final Report - USAID, Feb
							2009
						</a>
					</li>
					<li>
						<a
							href="/Downloads_Publications/CNEnergia Aug 2008.pdf"
							target="_blank"
							>Comisión Nacional de Energía (Chile) Contexto y Enseñanzas
							Internacionales para el Diseño de una Estrategia Energética a
							Largo Plazo para Chile, Aug 2008</a
						>
					</li>

					<li>
						<strong
							><a
								href="/Downloads_Publications/Hearings/APEC.pdf"
								target="_blank"
								>Understanding International Energy Initiatives in the APEC
								Region</a
							></strong
						>
						
					</li>
					<li>
						<strong>African Development Prospects Yearbook</strong> Comments on Energy
						Financing – 1992/93
						
					</li>
				</ul>
			</div>
		</Card>
		<Card
			id="extractive-industries"
			title="EXTRACTIVE INDUSTRIES"
			isContent={true}
			isAccordion={true}>
			<ul>
				<li>
					<a
						href="http://www.encuentros-multidisciplinares.org/revista-75/miguel-shloss.pdf">
						Universidad Autónoma de Madrid - Revista Encuentros
						Multidisciplinates (Madrid, Spain) Sep-Dic. 2023: “Política minera
						para el desarrollo económico: lo que nos enseña la experiencia
						internacional”
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<a
						href="/Downloads_Publications/E_ M_M_Apuntando_a_la_Neutralidad_de_Carbono_en_Campos_Inexplorados.pdf">
						<strong
							>Universidad Autónoma de Madrid - Revista Encuentros
							Multidisciplinates (Madrid, Spain) May-Aug 2022: &ldquo;Energía,
							Minería y Medio Ambiente: Apuntando a la Neutralidad de Carbono en
							Campos Inexplorados&rdquo;</strong
						>
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<a
						href="/Downloads_Publications/World Copper Conference.pdf"
						target="_blank">
						World Copper Conference (Chile) March 2022 - &quot;Mapping Carbon
						Neutrality in Uncharted Territory&quot;
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<a
						href="/Downloads_Publications/EMMay 16, 2018.png"
						target="_blank">
						El Mercurio (Santiago, Chile) May 16, 2018 - &ldquo;Política minera
						para impacto económico&quot;
					</a>
				</li>
			</ul>

			<ul>
				<li>
					
						Capital Business Journal (Santiago, Chile) Feb. 2018 -
						&quot;Política minera; del subsuelo al desarrollo económico&quot;
					
				</li>
			</ul>

			<ul>
				<li>
					
						Abbreviated version published in Pulso - Feb 14, 2018
				
				</li>
			</ul>

			<ul>
				<li>
					<a
						href="/Downloads_Publications/Cayman.pdf"
						target="_blank">
						Cayman Financial Review, (USA) Oct. 2015 - Reprint of &quot;Policy
						framework for extractive industries' performance&quot;
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<a
						href="/Downloads_Publications/MChilena.pdf"
						target="_blank">
						Minería Chilena (Santiago, Chile), Apr. 2014 - &quot;Política minera
						para el desarrollo económico&quot;
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<a
						href="/Downloads_Publications/OilSept 2008.pdf"
						target="_blank">
						<strong>Oil, Gas &amp; Energy Law Intelligence</strong> (OGEL-U.K.),
						Sep. 2008 - &ldquo;Policy and Institutional Framework to Combat Resource
						Curse &amp; Dutch Disease&rdquo;
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<a
						href="/Downloads_Publications/OilFeb 2008.pdf"
						target="_blank">
						<strong>Oil, Gas &amp; Energy Law Intelligence</strong> (OGEL-U.K.),
						Feb. 2008 - &ldquo;Governance and Policy Framework for Extractive Industries'
						Performance&rdquo;
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<a
						href="/Downloads_Publications/Bank-Netherland.pdf"
						target="_blank">
						Bank-Netherland Partnership Program (BNPP Publications) 2007 -
						&ldquo;Governance Framework for Extractive Industries for Africa
						Mining&rdquo;
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<strong>Oil, Gas &amp; Energy Law Intelligence</strong> (OGEL-U.K.) Jan.
					and Mar. 2004 - &ldquo;Governance Issues in Petroleum Development and Downstream
					Operations&rdquo;
				</li>
			</ul>

			<ul>
				<li>
					<a
						href="/Downloads_Publications/Oil_Dec_2003_Combating.pdf"
						target="_blank">
						<strong>Oil, Gas &amp; Energy Law Intelligence</strong> (OGEL-U.K) Dec
						2003 - &ldquo;Combating Corruption – Moving from Words to Deeds&rdquo;
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<strong>International Law and Practice</strong> (New York State Bar Association,
					USA) Oct. 2002 - &ldquo;Governance and Transparency: The Missing Ingredients
					for Development&rdquo;
					

					<strong>
						<a
							href="/Downloads_Publications/Chinese.pdf"
							target="_blank">
							Chinese Version:
						</a>
					</strong>
					<a
						href="/Downloads_Publications/Chinese.pdf">
						石油的采购和交易事关重要吗？
					</a>
				</li>
			</ul>

			<ul>
				<li>
					<strong>Journal of Energy in Southern Africa</strong> (Energy Research
					Institute, University of Cape Town, South Africa), Feb. 1993 - &ldquo;Sub-Saharan
					Energy Financing: The Need for a New Game Plan&rdquo; (Reprinted in <strong
						>African Development Perspectives Yearbook</strong
					> 1992/93; University of Bremen, Germany)
				</li>
			</ul>
		</Card>

		<Card
			id="economic-policies"
			title="ECONOMIC POLICIES"
			isAccordion={true}
			isContent={true}>
			<ul>
				<li>
					<strong>Asia-Pacific Economic Cooperation (APEC) </strong>(Tokyo,
					Japan) Nov. 2008 “International Energy Issues (supply and demand
					forecast, energy security, environmental and institutional
					implications)”. “Criteria vs. Processes for Identifying, Managing and
					Evaluating International Initiatives”
				</li>
				<li>
					<a
						href="Downloads_Publications/TIBerlinSep2002.pdf"
						target="_blank"
						><strong>Transparency International </strong> (Berlin, Germany); Tinker
						Foundation (New York, USA), Sep. 2002 “Improving Public Sector Procurement
						in Latin America” (A Synthesis Report on Eight Case Studies of Three
						Methods in Three Countries)</a
					>
				</li>
				<li>
					<strong
						><a
							href="https://scholarship.law.cornell.edu/cgi/viewcontent.cgi?article=1468&context=cilj"
							target="_blank"
							><strong>Cornell International Law Journal</strong></a
						><a
							href="https://scholarship.law.cornell.edu/cgi/viewcontent.cgi?article=1468&context=cilj">
							<strong
								>(Cornell University, USA) Dec. 2000 “Corruption: Causes and
								Corrective Actions”.</strong
							></a
						>
					</strong>
				</li>
					<li>
						<strong
							>The European-Latin American Trade &amp; Investment Guide
						</strong>(McGraw-Hill; U.K.), 2000 “Corruption in Latin America”.<br
						/>
					</li>
				
					<li>
						<strong>Economic Development Institute</strong> (World Bank; USA), Jun.
						1995 “Financial Restructuring. An Annotated Checklist”.
					</li>
				
					<li>
						<strong>Industry Africa</strong> (UNIDO, Austria), Oct. 1992 “Challenges
						for Africa’s Industrial Development in the 1990's”.
					</li>
				
					<li>
						<strong>Single Market Communication Review</strong> (ITU, ASEAN ISDN
						Council, ECTUA, U.K.), Winter 1992 “Issues on Telecommunications Development:
						Policy Responses and Sectors Strategy for the Sub-Saharan Africa”.<br
						/>
					</li>
				
					<li>
						<strong>Negocios </strong>(Universidad Católica, Chile), Dec. 1991
						“Perspectivas de la Economía Mundial”.
					</li>
				
					<li>
						<strong>Razvoj Development</strong> (Institute for Developing Countries,
						Croatia), 1989 “Resource Mobilization for Development in Africa”.<br
						/>
					</li>
				
					<li>
						<a
							href="http://documents1.worldbank.org/curated/es/712481468914672322/pdf/587070NEWS0Ban10BOX354961B008101-88.pdf#page=11&zoom=auto,-84,6"
							target="_blank"
							>Bank’s World (World Bank, USA), Aug. 1988 “Adjustment and
							Financial Sector Development in Africa”.</a
						>
					</li>
				
					<li>
						<strong
							>International Symposium on Development Strategy Towards the 21st
							Century</strong
						>
						(JICA and OECF, Japan), Oct. 1988 “Structural Adjustment in Africa”.<br
						/>
					</li>
				
					<li>
						<a
							href="/Downloads_Publications/FDColombia.pdf"
							target="_blank"
							>Finance and Development (IMF and World Bank, USA) December 1986
							“Adjustment with Growth, the Case of Colombia”. (Reprinted in
							Adjustment with Growth, IMF &amp; World Bank, Dec. 1987).</a
						>
					</li>
				
			</ul>
		</Card>

		<Card id="books" title="BOOKS" isAccordion={true} isContent={true}>
			<SimpleItem>
				<a href="https://www.morebooks.de/shop-ui/shop/product/9786202231121"
					>Editorial Académica Española: “Cambiando la conversación sobre
					transición ionizaos energética”, 2022</a
				>

				<img
					src="publications/CambiandoLaConversacion.jpeg"
					alt="Portada libro Cambiando La Conversación Sobre Transición Ionizados Energética de 2033"
				/>
			</SimpleItem>
			<SimpleItem>
				<a
					href="https://www.generis-publishing.com/book.php?title=mapping-carbon-neutrality-in-uncharted-territory-521"
					>Generis Publications: “Mapping Carbon Neutrality in Uncharted
					Territory”, 2022</a
				>

				<img
					src="publications/MappingCarbon.jpg"
					alt="Portada libro Mapping Carbon Neutrality in Uncharted Territory de 2022"
				/>
			</SimpleItem>
			<SimpleItem>
				<a
					href="https://www.amazon.com/Gobiernancia-Transparencia-Transitando-dicho-hecho/dp/6202135654/ref=sr_1_5?crid=MK8S8SYDBOCL&dib=eyJ2IjoiMSJ9.V5Fh-R2OdAL3tK1DysD2btnh09Gj4bD2wFjId6XMRDGwRP7IBNa3hJ7g5ZlFBvPIYzc04Ck5OU5g6CHmqwksCjBN9UZyRDL9zau4AJCgbExke7wXJzSaZLyOILVgCxrkngdO23lSVfYzAX8W7HxFq7kCFRakt8Iyluz_iTjUUru4bB6WNgZW26J1cixdZKi6.vR5fnusDwcA-Kym7vE99hn26RDiEESLllXNBIjIZYhw&dib_tag=se&keywords=miguel+Schloss&qid=1723773249&s=books&sprefix=miguel+schloss%2Cstripbooks%2C224&sr=1-5"
					>"Gobernancia, Transparencia - Transitando del dicho al hecho” (Editorial Académica Española; Forbes Books) — Spanish Edition; 2018 </a
				>

				<img
					src="gobernancia_transparecia.jpg"
					alt="Gobernancia, Transparencia - Transitando del dicho al hecho” (Editorial Académica Española; Forbes Books) — Spanish Edition; 2018"
				/>
			</SimpleItem>
		</Card>
	</TheContent>

	<BackTopButton position="right" offset="1rem" />
</BaseLayout>
